nav {
    height: 5em;
    }

nav button {
    margin: 1em 0 0 1em;
    }

h2,
p.hitpoints,
p.initiative {
    margin: 0.5em 0 0 0.5em;
    padding: 0.5em 1em 0.5em 1em;
    }

div.campaign_member {
    background-color: gray;
    border: 1px solid silver;
    float: left;
    font-family: sans-serif;
    padding: 1em;
    width: 12em;
    }

div.personalia {
    background-color: lightblue;
    margin: 0 1em 2em 0;
    }

div.personalia h2 {
    background-color: silver;
    display: block;
    float: left;
    font-weight: normal;
    margin-bottom: 1em;
    width: 4.3em;
    }

div.personalia h2:hover,
div.char_attributes h3:hover,
div.char_purse h3:hover {
    background-color: white;
    cursor: pointer;
    }

div.char_attributes {
    background-color: lightblue;
    float: left;
    margin: 0 0 1em 0;
    width: 11em;
    }

div.char_attributes h3,
div.char_purse h3 {
    background-color: silver;
    float: left;
    font-weight: normal;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.5em 1em 0.5em 1em;
    }

div.char_attributes table {
    display: block;
    float: left;
    font-family: sans-serif;
    }

div.char_attributes table th {
    font-weight: normal;
    }

div.char_attributes table td {
    border: 1px solid silver;
    min-width: 3em;
    text-align: center;
    }

div.char_purse {
    background-color: lightblue;
    float: left;
    width: 11em;
    }

div.char_purse table {
    display: block;
    float: left;
    }

div.char_purse table td {
    border: 1px solid silver;
    }

div.char_purse table td.purse_amount {
    min-width: 5em;
    text-align: right;
    }