section#invitations {
    margin-bottom: 2em;
    }

p.gui {
    font-weight: normal;
    }

p span {
    font-weight: bold;
    }

section.invitation p.gui,
section.membership p.gui {
    font-size: 1.2em;
    margin-bottom: 0;
    padding: 0.5em;
    }

span.title {
    display: block;
    font-size: 1.3em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    }

section.invitation div,
section.membership div {
    padding: 0.5em;
    text-align: center;
    }

button:first-child {
    margin-right: 2em;
    }