/* START PERSONALIA */
div.character-form-entry fieldset {
    border: 0;
    }

div.character-form-entry legend {
    display: none;
    }

section#personalia div.character-form-entry form p {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
    justify-content: space-between;
    }

div.character-form-entry form label {
    text-shadow: 1px 1px 1px #777;
    }

div.character-form-entry form input {
    border: 0;
    padding: 1px 2px;
    }

div.character-form-entry form label, 
div.character-form-entry form input {
    font-size: 1.4em;
}

/* START BOTTOM-WRAPPER */
/* wrapper for attributes and purse form */
div#bottom-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    }

/* START ATTRIBUTES */
section#attributes div.character-form-entry form p {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 0.5em;
    }

section#attributes div.character-form-entry form p {
    display: flex;
    justify-content: flex-start;
    }

section#attributes div.character-form-entry form input,
section#attributes div.character-form-entry form label {
    width: 3.5em;
    }

/* START PURSE */
section#purse div.character-form-entry form p {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 0.5em;
    }

section#attributes div.character-form-entry form input,
section#attributes div.character-form-entry form label {
    text-align: left;
    width: 3.5em;
    }

section#attributes div.character-form-entry form input {
    margin-right: 1em;
    }

section#attributes div.character-form-entry form input:last-child {
    margin-right: 0;
    }

section#purse div.character-form-entry form p {
    justify-content: flex-start;
    }

section#purse div.character-form-entry form p label {
    text-align: left;
    width: 5em;
    }

section#purse div.character-form-entry form p input {
    width: 7em;
    }

/******************/
/* START PORTRAIT */
/******************/

@media screen and (orientation:portrait) {
    /* START PERSONALIA */
    section#personalia div.character-form-entry form label, 
    section#personalia div.character-form-entry form input {
	font-size: 1em;
    }
    
    /* START BOTTOM-WRAPPER */
    /* wrapper for attributes and purse form */
    div#bottom-wrapper {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
    }

    section#personalia div.character-form-entry form label {
	margin-right: 0.5em;
    }

    div.character-form-entry form label,
    div.character-form-entry form input {
	font-size: 1em;
    }

    section#personalia div.character-form-entry form p input {
	width: 10.5em;
    }

    section#attributes div.character-form-entry form p input,
    section#purse div.character-form-entry form p input {
	width: 3.5em;
    }

}