div#inner-container {
    width: 80%;
    }

@media screen and (max-width: 400px) and (orientation:portrait) {
    div#inner-container {
	width: 80%;
    }
}

@media screen and (min-width: 701px) {
    div#inner-container {
	width: 35%;
    }

    p#char-name,
    p#char-class {
	width: 100%;
    }
}

div#bottom-wrapper {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    }

div#bottom-wrapper section {
    margin-top: 1.5em;
    }

@media screen and (max-width: 400px) and (orientation:portrait) {
    div#bottom-wrapper {
	flex-flow: column;
    }
}

/********************/
/* START PERSONALIA */
/********************/
form {
    display: flex;
    flex-flow: row wrap;
    }

p {
    margin-right: 1.5em;
    }

@media screen and (max-width: 400px) and (orientation:portrait) {
    p {
	margin-right: 1em;
    }
}

p#char-name input {
    width: 10em;
    }

@media screen and (max-width: 400px) and (orientation:portrait) {
    p#char-name label {
	display: inline-block;
	width: 3.5em;
    }

    p#char-name input {
	width: 13.5em;
    }
}

p#char-class input {
    width: 10em;
    }

@media screen and (max-width: 400px) and (orientation:portrait) {
    p#char-class label {
	display: inline-block;
	width: 3.5em;
    }

    p#char-class input {
	width: 13.5em;
    }
}

p#char-xp input {
    width: 5em;
    }

p#char-level input,
p#char-dmg input,
p#char-hp input {
    width: 3em;
    }

p#char-init-roll input,
p#char-init-mod input {
    width: 2em;
    }
/********************/
/* START ATTRIBUTES */
/********************/
section#attributes {
    margin-right: 2em;
//    width: 21.5em;
    }

section#attributes label {
    display: inline-block;
    margin-right: 1em;
    width: 2em;
    }

section#attributes p input {
    width: 2.5em;
    }

section#attributes p input.attr-input {
    margin-right: 1em;
    }

section#attributes p label.modifier  {
    display: none;
    }

@media screen and (max-width: 400px) and (orientation:portrait) {
    section#attributes p label.modifier  {
	display: inline-block;
    }
}

/***************/
/* START PURSE */
/***************/
section#purse p {
    flex-wrap: nowrap;
    }

section#purse label {
    display: inline-block;
    margin-right: 1em;
    width: 4em;
    }

section#purse input {
    width: 5em;
    }

@media screen and (min-width: 701px) {
    section#purse form {
	flex-flow: column;
	
    }
}
