
* {
    margin: 0;
    padding: 0;
    }
	
html {
    min-height: 100%;
    }

#index {
    background-image: url('../images/background_parchment_repeatable.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
div#main-container {
    display: block;
    width: 100%;
    }

h1 {
margin-top: 50px;
padding: 10px;
text-align: center;
font-family: "Times New Roman";
font-size: 3em;
}

#info {
padding: 10px;
width: 240px;
margin: auto;
margin-bottom: 20px;
background: rgba(168, 122, 37, 0.5)
}
#info p {
margin-top: 15px;
font-family: "Times New Roman";
font-size: 18px;
color: 000000;
margin: auto;
width: 220px;
text-align: justify;
}


fieldset {
border: none;
}
form    {
position:relative;
width:240px;
height:558px;
margin: auto;
margin-bottom: 20px;
font-family: "Lucida Sans Typewriter";
font-size: 16px;
line-height: 24px;
font-weight: bold;
color: 000000;
text-decoration: none;
text-align: center;
padding:10px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

input    {
margin: auto;
width:200px;
display:block;
height: 25px;
}

select {
display: block;
margin: auto;
border: 1px solid #999;
width: 200px;
height: 25px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea#message{
-moz-border-radius: 5px;
border-radius: 5px;
border: 1px solid #999;
display: block;
margin: auto;
width:200px;
height:150px;
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

textarea:focus, input:focus {
border: 1px solid #09C;
}

form label {
    font-size: 0.85em;
    }

input#send {
border-radius: 10px;
margin-bottom: 10px;
}
	
div#email_errors {
margin: 0 auto;
height: 100px;
width: 200px;
}

div#email_errors p {
font-family: "Lucida Sans Typewriter";
font-weight: bold;
font-size: 14px;
color: #E60000;
}

div#email_errors li {
font-family: "Lucida Sans Typewriter";
font-size: 12px;
list-style-type: none;
}
