* {
    margin: 0;
    padding: 0;
    }

html {
    min-height: 100%;
    overflow: hidden;
    }

body {
    background-color: #e4b657;
//    background-image: url('../images/parchment4.jpg');
//    background-repeat: no-repeat;
//    background-size: 100% 100%;
    }

h1 {
    display: none;
    }

div#main-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 3em;
    width: 100%;
    }

div#inner-container {
    margin: 1em auto 0;
    width: 80%;
    }

section.gui,
div.gui {
    background-color: rgba(255, 255, 255, 0.3);
//    color: brown;
    display: block;
//    text-align: center;
//    text-shadow: 1px 1px 1px #777;
    }

p.gui {
//    background-color: rgba(255, 255, 255, 0.3);
    color: brown;
//    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    text-align: center;
    text-shadow: 1px 1px 1px #777;
    }

p.clickable {
    font-size: 2em;
    }

p.gui a {
    color: inherit;
    display: block;
    text-decoration: none;
    }

p.clickable:hover {
    background-color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    }

p.clickable:active,
p.clickable a:active {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    }

div.error-report {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 0.5em;
    }

div.error-report p:first-child {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-decoration: underline;    
    }

ul.error-list {
    list-style: square;
    text-align: center;
    }

div.success-report {
    background-color: rgba(0, 255, 0, 0.8);
    color: black;
    padding: 0.5em;
    }

div.succes-report p:first-child {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-decoration: underline;    
    }

ul.success-list {
    list-style: square;
    text-align: center;
    }

legend {
    display: none;
    }

form p {
    margin-bottom: 1em;
    }

form label {
    margin-right: 10px;
    text-shadow: 1px 1px 1px #777;
    }

button,
form input {
    border: 0;
    padding: 2px 4px;
    }

button,
form input[type="submit"] {
    background-color: darkgreen;
    color: white;
    font-size: 1em;
    padding: 1px 2px;
    }

button:hover,
form input[type="submit"]:hover {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    }

button:active,
form input[type="submit"]:active {
    background-color: black;
    color: white;
    }

@media screen and (max-width: 400px) and (orientation:portrait) {
    div#inner-container {
	width: 80%;
    }
}

@media screen and (min-width: 401px) and (max-width: 700px) and (orientation:landscape) {
    div#inner-container {
	width: 80%;
    }
}

@media screen and (min-width: 701px) {
    div#inner-container {
	width: 50%;
    }
}
/****************/
/* START MEMBER */
/****************/
