section.sec-nav-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    }

section.sec-nav-container a {
    background-color: rgba(255, 255, 255, 0.3);
    color: brown;
    display: flex;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 1em;
    padding: 0.5em;
    text-decoration: none;
    text-shadow: 1px 1px 1px #777;
}

section.sec-nav-container a:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

section.sec-nav-container a:active {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

/******************/
/* START PORTRAIT */
/******************/

@media screen and (orientation:portrait) {

/*
    section.sec-nav-container a {
	background-color: rgba(255, 255, 255, 0.3);
	display: block;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 1em;
	padding: 0.5em;
	text-decoration: none;
	text-shadow: 1px 1px 1px #777;
    }

    section.sec-nav-container a:hover {
	background-color: rgba(255, 255, 255, 0.7);
    }

    section.sec-nav-container a:active {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
    }

*/

}

