* {
    margin: 0;
    padding: 0;
    }

html {
    height: 100%;
    overflow-y: hidden;
    }

div#logged-user {
    background-color: black;
    padding: 2px 4px;
    }

div#logged-user p {
    color: #666;
    font-size: 0.9em;
    text-align: right;
    }

div#logged-user p span {
    color: #999;
    font-style: italic;
    }

nav ul:first-child {
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    list-style: none;
    padding: 0.5em 0 0.5em 0;
    width: 100%;
    }

nav ul:first-child li.active-nav {
    border-bottom: 2px solid white;
    }

nav ul:first-child li:hover {
    cursor: pointer;
    }

h2 {
    display: none;
    }

.character-form-entry {
    width: 100%;
    }

div#sub-nav-wrapper {
    background-color: gray;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 1px 1px #333;
    display: flex;
    display: none;
    float: left;
    justify-content: center;
    padding: 0.25em 0 0.25em 0;
    width: 100%;
    }

div#sub-nav-wrapper ul {
    display: flex;
    flex-flow: row nowrap;
//    height: 2em;
    justify-content: space-around;
    list-style: none;
    width: 95%;
    }

div#sub-nav-wrapper li {
    background-color: lightgray;
    background-color: black;
    text-align: center;
    }

div#sub-nav-wrapper ul li a {
    color: black;
    color: white;
    display: block;
    font-size: 1em;
    padding: 5px 10px;
    }

div#sub-nav-wrapper ul li a:active {
    background-color: white;
    color: black;
    }

div#sub-nav-wrapper li:last-child a {
    margin-right: 0;
    }

section.sec-nav-container,
body#member-landing section.sec-nav-container p:nth-child(3) {
    display: none;
    }

body#member-landing section.sec-nav-container {
    display: block;
    }