<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes">
		<link rel="stylesheet" href="../../public/css/main.css">
		<link rel="stylesheet" href="[insert proper].css">
		<title>About Us</title>
	</head>
	<body>
		<p>Thank you for your feedback. We will get back to you as soon as possible</p>
		<p>return to <a href="http://dikult205.h.uib.no/groups/G5/dnd/html/application/views/index.php">log-in</a></p>
	</body>
</html>
